<!doctype html>
<html>
<head>
  <% include ../head/default.ejs %>
  <title>开始传递 | 蚂蚁速递</title>
</head>
<body>
<% include ../header/default.ejs %>
<div class="am-container">
  <h3>我的任务</h3>
  <div id="qrcode" style="text-align: center; padding: 6px 0"></div>
  <table class="am-table am-table-bordered am-table-radius">
    <tr>
      <td>任务编号：<%= order._id %></td>
    </tr>
    <tr>
      <td>包裹编号：<%= parcel._id %></td>
    </tr>
    <tr>
      <td>起点：<%= parcelPath.start %></td>
    </tr>
    <tr>
      <td>终点：<%= parcelPath.end %></td>
    </tr>
  </table>
  <div>
    <button type="button" class="am-btn am-btn-primary am-btn-lg am-center" onclick="closeWindow()">关闭</button>
  </div>
</div>

<% include ../script/default.ejs %>
<script>
  function closeWindow() {
    wx.closeWindow();
  }
  $('#qrcode').qrcode('{"id":"<%= order._id %>"}');
</script>
</body>
</html>